.flex_cell.av-4rl6gu-99b7b69423a1eba303bbea13cc4b63a1{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-4rl6gu-99b7b69423a1eba303bbea13cc4b63a1{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-4iwj2e-18ee7417058bb1c26f9c7257de1f4f67{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-4iwj2e-18ee7417058bb1c26f9c7257de1f4f67{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432{
padding-bottom:0;
color:#ffffff;
font-size:50px;
}
body .av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-dwoau-17bfa071b2488f3ce8cc3423c7ffe6f2 .avia_textblock{
font-size:20px;
color:#65b33e;
}

.flex_cell.av-47aige-c60e10865217af6d62cbc957b73f2da5{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-47aige-c60e10865217af6d62cbc957b73f2da5{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1zbb7y-6b553801c48dcc6c19ce509b2c4529f5{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#719430;
}
.responsive #top #wrap_all .flex_cell.av-1zbb7y-6b553801c48dcc6c19ce509b2c4529f5{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1orvhy-49cc01011df8af6eab5a292df6f54710{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#92bb46;
}
.responsive #top #wrap_all .flex_cell.av-1orvhy-49cc01011df8af6eab5a292df6f54710{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1j3m3q-cda48e3b49b97a8a79390318345f6377{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#acd464;
}
.responsive #top #wrap_all .flex_cell.av-1j3m3q-cda48e3b49b97a8a79390318345f6377{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-4x2ly-9e5da00ce23212dda467d5dd6023649f{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#e1fbb2;
}
.responsive #top #wrap_all .flex_cell.av-4x2ly-9e5da00ce23212dda467d5dd6023649f{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-10qh6e-3b2ed562457968307b8126a96ccd4dc7{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-10qh6e-3b2ed562457968307b8126a96ccd4dc7{
padding:100px 100px 100px 100px !important;
}

#top .avia-icon-list-container.av-lg41fuma-41707d2974229109d7d7a2008e652ac5 .iconlist_icon{
color:#65b33e;
background-color:#034333;
font-size:16px;
}
#top #wrap_all .avia-icon-list-container.av-lg41fuma-41707d2974229109d7d7a2008e652ac5 .av_iconlist_title{
font-size:16px;
color:#65b33e;
}

#top .hr.hr-invisible.av-l3p5a-9819580c5c28676d88c7ce8ecb609a09{
height:20px;
}

.flex_cell.av-7i126-4e42ba1915893a7b204941b8f5a2e132{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2022/10/ewao-3-1030x764.jpg) 50% 50% no-repeat scroll #719430;
}
.responsive #top #wrap_all .flex_cell.av-7i126-4e42ba1915893a7b204941b8f5a2e132{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-1jt4ba-703dd0e8dc1836270f472702d894a996{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1jt4ba-703dd0e8dc1836270f472702d894a996{
padding:100px 100px 100px 100px !important;
}

#top .avia-icon-list-container.av-5493i-e5f5ddac1dff8f0e946de2b8bb1c703d .iconlist_icon{
background-color:#034333;
}

#top .hr.hr-invisible.av-cj87i-f77e78f2f43470a51c67129d47f7f056{
height:20px;
}

.flex_cell.av-ak05y-402473d2b789669e77d0c22fb634d680{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2022/10/ewao-3-1030x764.jpg) 50% 50% no-repeat scroll #719430;
}
.responsive #top #wrap_all .flex_cell.av-ak05y-402473d2b789669e77d0c22fb634d680{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-da6vy-f8ee8e627defaa8ba5b399a5284e3e72{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-da6vy-f8ee8e627defaa8ba5b399a5284e3e72{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-3iiy06-d21fe8ba10a3ef304483e0c28fd41e1f{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-3iiy06-d21fe8ba10a3ef304483e0c28fd41e1f{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51{
padding-bottom:30px;
color:#ffffff;
font-size:54px;
}
body .av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .av-special-heading-tag{
font-size:54px;
}
.av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .av-subheading{
font-size:13px;
color:#f9f3df;
}

.flex_cell.av-3dai1y-87e5d3dcd8dd3cd2b07437899dff9f92{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-3dai1y-87e5d3dcd8dd3cd2b07437899dff9f92{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-3yry6u-6946c75f401cd80c6acbb37426be94fa{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/04/vvvv.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-3yry6u-6946c75f401cd80c6acbb37426be94fa{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-1gayna-ea8b6b85c872ce0f807117d36bc3b536{
vertical-align:top;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_cell.av-1gayna-ea8b6b85c872ce0f807117d36bc3b536{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-3nq7im-716fae008afb516c395fcf7c4864bcbc{
padding-bottom:30px;
}
body .av-special-heading.av-3nq7im-716fae008afb516c395fcf7c4864bcbc .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3nq7im-716fae008afb516c395fcf7c4864bcbc .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-lg4zauhn-73229a19ef940a41eabec779d1562f5b .iconlist_icon{
background-color:#034333;
font-size:16px;
}
#top #wrap_all .avia-icon-list-container.av-lg4zauhn-73229a19ef940a41eabec779d1562f5b .av_iconlist_title{
font-size:16px;
color:#65b33e;
}

.flex_cell.av-1b9lbq-a7311c9e5835c5411baffadfa8ade53c{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/04/vvvv.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-1b9lbq-a7311c9e5835c5411baffadfa8ade53c{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-3n8x2-f0e54ced634c7c7eb514ebe52679ab10{
vertical-align:top;
background-color:#ffffff;
}
.responsive #top #wrap_all .flex_cell.av-3n8x2-f0e54ced634c7c7eb514ebe52679ab10{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-3bya6-a93bcbb7c5aba9e506f980e6cf6bbd42{
padding-bottom:30px;
}
body .av-special-heading.av-3bya6-a93bcbb7c5aba9e506f980e6cf6bbd42 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3bya6-a93bcbb7c5aba9e506f980e6cf6bbd42 .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-rcbke-8e59067e8995e7d0492c6359d85fba62 .iconlist_icon{
background-color:#034333;
}

.flex_cell.av-spwae-246808cb45eba9ebcfd33af0d7e55973{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#719430;
}
.responsive #top #wrap_all .flex_cell.av-spwae-246808cb45eba9ebcfd33af0d7e55973{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-nsg66-0596090e17f2d8375f1d168d3a60bec4{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#92bb46;
}
.responsive #top #wrap_all .flex_cell.av-nsg66-0596090e17f2d8375f1d168d3a60bec4{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1r72m-5904501acbdf7dd63aef8359e71d7441{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#acd464;
}
.responsive #top #wrap_all .flex_cell.av-1r72m-5904501acbdf7dd63aef8359e71d7441{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-78mbq-01b38c785895718e13cbe10fa6f9c6be{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#e1fbb2;
}
.responsive #top #wrap_all .flex_cell.av-78mbq-01b38c785895718e13cbe10fa6f9c6be{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2xmnfy-35d88b9e01252ea372fd3800adfc06f1{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-2xmnfy-35d88b9e01252ea372fd3800adfc06f1{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2o4cwu-18136bdb311eaa2190ac831cfd75a553{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-2o4cwu-18136bdb311eaa2190ac831cfd75a553{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48{
padding-bottom:30px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .av-subheading{
font-size:15px;
color:#f9f3df;
}

.avia-timeline-container.av-lg6nlwyw-629050bf5f495f897db4b56c65bd8792 .av-milestone-date{
color:#658529;
}
.avia-timeline-container.av-lg6nlwyw-629050bf5f495f897db4b56c65bd8792 .av-milestone-title{
color:#de4a1e;
}
.avia-timeline-container.av-lg6nlwyw-629050bf5f495f897db4b56c65bd8792 .av-milestone-content{
color:#ffffff;
}

.avia-timeline-container .av-milestone.av-lg6ni5cj-54ca3fe4f346677aeb7d8dc084003391 .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao5-300x233.jpg);
}

.avia-timeline-container .av-milestone.av-lg6nkc67-628b8c2bbcbfd0ba990a0b3c36fb7cd5 .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/04/vvvv-300x256.jpg);
}

.avia-timeline-container .av-milestone.av-lg6nlufl-2b0d80a928274015e30d9c10987e6651 .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao2-300x233.jpg);
}

.flex_cell.av-2izbna-81199989ac0aa7f0cfe0241a8ac24f76{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-2izbna-81199989ac0aa7f0cfe0241a8ac24f76{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1e75ha-3b39e0e8778c3f588cc10d5ffad88134{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-1e75ha-3b39e0e8778c3f588cc10d5ffad88134{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-17zn6m-625c2de8fd375ceefc9fb68d02e26179{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-17zn6m-625c2de8fd375ceefc9fb68d02e26179{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c{
padding-bottom:30px;
color:#ffffff;
font-size:55px;
}
body .av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .av-special-heading-tag{
font-size:55px;
}
.av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .av-subheading{
font-size:15px;
color:#f9f3df;
}

.avia-timeline-container.av-xqgae-c15e098d76cf09209accb69e74955736 .av-milestone-date{
color:#658529;
}
.avia-timeline-container.av-xqgae-c15e098d76cf09209accb69e74955736 .av-milestone-title{
color:#de4a1e;
}
.avia-timeline-container.av-xqgae-c15e098d76cf09209accb69e74955736 .av-milestone-content{
color:#ffffff;
}

.avia-timeline-container .av-milestone.av-2l0di-451ff54ba0a0030eb6149fbc6775923e .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao5-300x233.jpg);
}

.avia-timeline-container .av-milestone.av-ns5da-c5679218dd1e74973755325c4c44a9a3 .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/04/vvvv-300x256.jpg);
}

.avia-timeline-container .av-milestone.av-enqu6-13ad1c0bd2ace709c3c84e99c3c4ccb8 .av-milestone-icon-inner{
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao2-300x233.jpg);
}

.flex_cell.av-t6ja-9cfe61ceec4feb63235f63c3e8033589{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-t6ja-9cfe61ceec4feb63235f63c3e8033589{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-lg51e0x6-5f8885d4b40cbd0caa56eb8d4ba12a7d{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-lg51e0x6-5f8885d4b40cbd0caa56eb8d4ba12a7d{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-lg6ll3lx-51467966078d849a4c33d6af01089a2f{
padding-bottom:30px;
}
body .av-special-heading.av-lg6ll3lx-51467966078d849a4c33d6af01089a2f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lg6ll3lx-51467966078d849a4c33d6af01089a2f .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-lg51i7h3-fb96023da46ab397d62bb33e75c56913 .iconlist_icon{
color:#65b33e;
background-color:#034333;
font-size:16px;
}
#top #wrap_all .avia-icon-list-container.av-lg51i7h3-fb96023da46ab397d62bb33e75c56913 .av_iconlist_title{
font-size:16px;
color:#65b33e;
}

.flex_cell.av-lg51ekuy-1e465a62ec03c4e13d1b77ac4f2a8400{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/Mesa-de-trabajo-40@72x.png) 50% 50% no-repeat scroll #ffffff;
}
.responsive #top #wrap_all .flex_cell.av-lg51ekuy-1e465a62ec03c4e13d1b77ac4f2a8400{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-1z4vqm-dbb6703abdb433fcf3fc010bddd6a52d{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1z4vqm-dbb6703abdb433fcf3fc010bddd6a52d{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-1rr5dq-b32d6850a08842257adfea97da7e29fe{
padding-bottom:30px;
}
body .av-special-heading.av-1rr5dq-b32d6850a08842257adfea97da7e29fe .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1rr5dq-b32d6850a08842257adfea97da7e29fe .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-1mg4u6-16b3302af06853e607d7f1f9ac97cbfd .iconlist_icon{
background-color:#034333;
}

.flex_cell.av-arp66-903807c3ecb0fee9b1ab53d0e7d692bb{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/Mesa-de-trabajo-40@72x.png) 50% 50% no-repeat scroll #ffffff;
}
.responsive #top #wrap_all .flex_cell.av-arp66-903807c3ecb0fee9b1ab53d0e7d692bb{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-266sxy-58ad767b511cce2b89e554030925ff4d{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-266sxy-58ad767b511cce2b89e554030925ff4d{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2333c6-4f73472a1332c83500b351dda3bb781c{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-2333c6-4f73472a1332c83500b351dda3bb781c{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13{
padding-bottom:30px;
color:#ffffff;
font-size:55px;
}
body .av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .av-special-heading-tag{
font-size:55px;
}
.av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .av-subheading{
font-size:15px;
color:#f9f3df;
}

.flex_cell.av-1wtb92-2adbbdef6ced18624c4162af9a247794{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-1wtb92-2adbbdef6ced18624c4162af9a247794{
padding:0px 0px 0px 0px !important;
}

.avia-section.av-lg500ngs-de8c3b74e094ebb9850a9814e28227a8{
background-repeat:no-repeat;
background-image:url(https://ewaoproject.com/wp-content/uploads/2023/04/keweriono-tierras-waodanis.jpeg);
background-position:50% 50%;
background-attachment:scroll;
}

#top .hr.hr-invisible.av-lg500wa7-de1266b26082158edc8e5e4872aea247{
height:200px;
}

.flex_cell.av-uiaym-a05b4dbc6512bac41a75f5f5dddaa07e{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-uiaym-a05b4dbc6512bac41a75f5f5dddaa07e{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-qokmm-8ac7a2a4abecd9009472a2fc4461154d{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-qokmm-8ac7a2a4abecd9009472a2fc4461154d{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581{
padding-bottom:30px;
color:#ffffff;
font-size:55px;
}
body .av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .av-special-heading-tag{
font-size:55px;
}
.av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .av-subheading{
font-size:15px;
color:#f9f3df;
}

.flex_cell.av-m2dlq-674bcde9acbe3c87ce24c26120713909{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-m2dlq-674bcde9acbe3c87ce24c26120713909{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2rwbz2-524384abaf9da14fc32499c83c44fa23{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao5-1030x799.jpg) 50% 0% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-2rwbz2-524384abaf9da14fc32499c83c44fa23{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-9x7y6-3547db7a331ca21219dd2bbfa4b4a6a3{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-9x7y6-3547db7a331ca21219dd2bbfa4b4a6a3{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-lg518a08-97066194a833b28fa8d28a836a37b862{
padding-bottom:10px;
}
body .av-special-heading.av-lg518a08-97066194a833b28fa8d28a836a37b862 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lg518a08-97066194a833b28fa8d28a836a37b862 .av-subheading{
font-size:15px;
}

#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler{
color:#000000;
background-color:#ffffff;
border-color:#034333;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler.activeTitle{
color:#83a846;
border-color:#83a846;
background-color:#f9f3df;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler:not(.activeTitle):hover{
background-color:#f9f3df;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color: !important;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler .toggle_icon{
color:#83a846;
border-color:#83a846;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 p.toggler .toggle_icon > span{
color:#83a846;
border-color:#83a846;
}
#top .togglecontainer.av-lg516b9z-4fc4e95127b597faa24c6afa002346d8 .toggle_wrap .toggle_content{
color:#000000;
background-color:#ffffff;
border-color:#034333;
}

#top .hr.hr-invisible.av-cx14e-888753118474f61d132fc157ea5c73d3{
height:10px;
}

.flex_cell.av-5f1zi-1ee2e3125c73f429281152846737e751{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-5f1zi-1ee2e3125c73f429281152846737e751{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-1cu5la-4d088e1b2f7098eec3779f00c63a68aa{
padding-bottom:30px;
}
body .av-special-heading.av-1cu5la-4d088e1b2f7098eec3779f00c63a68aa .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1cu5la-4d088e1b2f7098eec3779f00c63a68aa .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-16o3ri-d62392f1d07c9ec14b937d22dc8b147a .iconlist_icon{
color:#65b33e;
background-color:#034333;
font-size:16px;
}
#top #wrap_all .avia-icon-list-container.av-16o3ri-d62392f1d07c9ec14b937d22dc8b147a .av_iconlist_title{
font-size:16px;
color:#65b33e;
}

.flex_cell.av-andb2-a4b127ebad4b594fb24d1089056ca0c3{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao-1030x933.jpg) 50% 0% no-repeat scroll #ffffff;
}
.responsive #top #wrap_all .flex_cell.av-andb2-a4b127ebad4b594fb24d1089056ca0c3{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-1maa6u-6d56ab734a401038d7d0889a4ba157b3{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1maa6u-6d56ab734a401038d7d0889a4ba157b3{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-565rq-6be3263aa55766443ea90f157efe192f{
padding-bottom:30px;
}
body .av-special-heading.av-565rq-6be3263aa55766443ea90f157efe192f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-565rq-6be3263aa55766443ea90f157efe192f .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-17rubi-241c12470adab8eb3522976b5d78affe .iconlist_icon{
background-color:#034333;
}

.flex_cell.av-bf95y-58078bb96f8c06c3717de67ff30601a1{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao-1030x933.jpg) 50% 50% no-repeat scroll #ffffff;
}
.responsive #top #wrap_all .flex_cell.av-bf95y-58078bb96f8c06c3717de67ff30601a1{
padding:100px 100px 100px 100px !important;
}

.avia-section.av-58gby-face8b8961569e88289bf275dad61cec{
background-repeat:no-repeat;
background-image:url(https://ewaoproject.com/wp-content/uploads/2022/10/FONDO-HOME-300x169.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-58gby-face8b8961569e88289bf275dad61cec .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-4obsm-d5f1f1c49e9a676d651ee9df29d867a1{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-14a432-f12bd72b81eb652acb34b15d57a9ae92{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-203ae-f4e16003761076502f253c38257b20ae{
height:20px;
}

.flex_column.av-7f09i-632da68894b9b29c53138eee42c93b20{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-4eul7i-23a05fd3bf3782a01b47801fe6c42432 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg4zg2x8-bb4705192a105b0bb9c6bc431e38bd51 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg6lqdvh-c8bfd5b2cdfc87e0442f0eab878d6f48 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-115s3q-fef2dbd0fb895231777915af2525ae6c .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg6lr6q9-feb40ecca8e7fac60b16534cb4b6dd13 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lg519hgi-2b781c5c7d2929f4066ba4249f633581 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-xsvha-4bba89751a73365827f80ee57d2fdf07 .av-special-heading-tag{
font-size:0.8em;
}
}
