.flex_cell.av-4p0m1w-ca756a3a0ed201e6444ec63a7d479029{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-4p0m1w-ca756a3a0ed201e6444ec63a7d479029{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-4k2e5o-9833a274f498e50546081a78d55454ac{
vertical-align:middle;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-4k2e5o-9833a274f498e50546081a78d55454ac{
padding:50px 20px 50px 20px !important;
}

#top .av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3{
padding-bottom:0;
color:#ffffff;
font-size:50px;
}
body .av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .av-subheading{
font-size:15px;
}

.flex_cell.av-4e5ys4-bccc66c7730c5a494513689ce5dee38b{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#034333;
}
.responsive #top #wrap_all .flex_cell.av-4e5ys4-bccc66c7730c5a494513689ce5dee38b{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-40qhos-e498e31ad5103b2d2f9582bdaf771d39{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#719430;
}
.responsive #top #wrap_all .flex_cell.av-40qhos-e498e31ad5103b2d2f9582bdaf771d39{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-3v4ius-1d95bc030a269e4d0216d117fcc71bad{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#92bb46;
}
.responsive #top #wrap_all .flex_cell.av-3v4ius-1d95bc030a269e4d0216d117fcc71bad{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-3sr40c-a1cd5d64c7bab61e28406671853e4768{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#acd464;
}
.responsive #top #wrap_all .flex_cell.av-3sr40c-a1cd5d64c7bab61e28406671853e4768{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-3k7png-aab42f59594fe9a622c3478c91fc1836{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#e1fbb2;
}
.responsive #top #wrap_all .flex_cell.av-3k7png-aab42f59594fe9a622c3478c91fc1836{
padding:0px 0px 0px 0px !important;
}

#top .av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6{
padding-bottom:30px;
color:#000000;
font-size:47px;
}
body .av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .av-special-heading-tag{
font-size:47px;
}
.av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .av-subheading{
font-size:15px;
}

.flex_column.av-olfj0-a1d94b472e0f05190b37ad9815e16a3e{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top #wrap_all .avia-button.av-lh6q31k9-2a7dec0cfe7cb45c9192f66910e0d9ba{
background-color:#012169;
border-color:#012169;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-lh6q31k9-2a7dec0cfe7cb45c9192f66910e0d9ba:hover{
color:white;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

#top .hr.hr-invisible.av-mf6ec-cdd6351368f7357a53fc32875394a962{
height:20px;
}

.flex_cell.av-353jdg-97679ded3d6002685c75cd875a6e906f{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#719430;
}
.responsive #top #wrap_all .flex_cell.av-353jdg-97679ded3d6002685c75cd875a6e906f{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2u886k-77e56a439a3198a1b27aafb6076f9f4f{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#92bb46;
}
.responsive #top #wrap_all .flex_cell.av-2u886k-77e56a439a3198a1b27aafb6076f9f4f{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2qdj4k-17dd55f7c80990b95bf6e651aa251a8e{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#acd464;
}
.responsive #top #wrap_all .flex_cell.av-2qdj4k-17dd55f7c80990b95bf6e651aa251a8e{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-2l8bos-d4bf8bf88e5cec2c90d6dadf22f36e4a{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#e1fbb2;
}
.responsive #top #wrap_all .flex_cell.av-2l8bos-d4bf8bf88e5cec2c90d6dadf22f36e4a{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1ssg4c-f4e60bebea3594427f84f09cc995d711{
vertical-align:top;
background:url(https://ewaoproject.com/wp-content/uploads/2023/03/ewao-web-waodanis-scaled.jpg) 50% 50% no-repeat scroll ;
}
.responsive #top #wrap_all .flex_cell.av-1ssg4c-f4e60bebea3594427f84f09cc995d711{
padding:100px 100px 100px 100px !important;
}

.flex_cell.av-1ml4ro-1caa3708def66e3005df7386a8522a57{
vertical-align:top;
background-color:#eddfc9;
}
.responsive #top #wrap_all .flex_cell.av-1ml4ro-1caa3708def66e3005df7386a8522a57{
padding:100px 100px 100px 100px !important;
}

#top .av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e{
padding-bottom:0;
color:#034333;
font-size:50px;
}
body .av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .special-heading-inner-border{
border-color:#034333;
}
.av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .av-subheading{
font-size:15px;
}

.flex_column.av-1bkukc-dd662cb309ff343e2dbb1659cbfa2517{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av_textblock_section.av-3q8bg-fd7dfb92d6efd3954b7c037243fc12a4 .avia_textblock{
font-size:16px;
color:#65b33e;
}

#top .avia-icon-list-container.av-xs32s-392f30a9044cfd4a18de6190d4f6d489 .iconlist_icon{
color:#65b33e;
background-color:#034333;
font-size:16px;
}
#top #wrap_all .avia-icon-list-container.av-xs32s-392f30a9044cfd4a18de6190d4f6d489 .av_iconlist_title{
font-size:16px;
color:#65b33e;
}

#top .av_textblock_section.av-lgaqpqae-eb76944de487fa55b74df5cc858a8f22 .avia_textblock{
color:#658529;
}

#top .av_textblock_section.av-blsng-2db44995ccbca517a2c509dcff856864 .avia_textblock{
font-size:29px;
color:#658529;
}

.flex_cell.av-214ruk-a6fb24df40b355cccea215717d6a572a{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#719430;
}
.responsive #top #wrap_all .flex_cell.av-214ruk-a6fb24df40b355cccea215717d6a572a{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1wso90-bf17a6498fdc8c180b3ccdc661e8fc73{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#92bb46;
}
.responsive #top #wrap_all .flex_cell.av-1wso90-bf17a6498fdc8c180b3ccdc661e8fc73{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1q63ik-5a61d53778156a6848501378331bc06f{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#acd464;
}
.responsive #top #wrap_all .flex_cell.av-1q63ik-5a61d53778156a6848501378331bc06f{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-1ie0yc-9b350d89d21205e7d7acb9b814e5e3eb{
vertical-align:top;
height:15px;
min-height:15px;
background-color:#e1fbb2;
}
.responsive #top #wrap_all .flex_cell.av-1ie0yc-9b350d89d21205e7d7acb9b814e5e3eb{
padding:0px 0px 0px 0px !important;
}

.avia-section.av-1dqufo-ce6e2d9056d1e09be19e3ea23dbfe057{
background-repeat:no-repeat;
background-image:url(https://ewaoproject.com/wp-content/uploads/2022/10/FONDO-HOME-300x169.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-1dqufo-ce6e2d9056d1e09be19e3ea23dbfe057 .av-section-color-overlay{
opacity:0.8;
background-color:#000000;
}

.flex_column.av-19uh70-17dfd8893da2eeb3c529eafdfe87a49a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-1407r0-27ce311994ae1d0d84460b78feebfd4d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d{
padding-bottom:20px;
font-size:50px;
}
body .av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d .av-special-heading-tag{
font-size:50px;
}
.av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-20ufw-63c002c4414c673dc802ecb200a24714{
height:20px;
}

.flex_column.av-9uadw-9679ce95a0ff76539b6ed7915ba12fc4{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-lfs4hcrt-b7b932e241fe7a58774dd78b193772d3 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-lbzofmk5-377b3a13d372d3164639c8b4cad0f3a6 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-58yzw-f9ef831db267240671b203ccc8fe411e .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-vi9v0-421ae224ed291955f899e395d1b0b33d .av-special-heading-tag{
font-size:0.8em;
}
}
